server {
    server_name 35.170.53.131;
    access_log /var/log/wordpress/access.log;
    error_log /var/log/wordpress/error.log;
    root /var/www/html/wordpress/;

    index index.php index.html;
        location / {
            try_files $uri $uri/ /index.php?$args;
        }

        location ~ .php$ {
            try_files $uri =404;
            fastcgi_pass    127.0.0.1:9000;
            fastcgi_index   index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
        }

}